/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
/bootstrap
/database
/node_modules
/resources
/routes
/storage
/tests
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
